/* Common styles */
:root {
     --primary-color:#2E2F42;
     --color-ocean:#4048BF;
     --color-iris:#4D5AE5;
     --secondary-color:#434455;
     --color-white: #FFFFFF;
     --light-grey-color: #F4F4FD;
     --color-border: #E7E9FC;
     --color-bord: #8e8f99;
     --green-color: #31D0AA;
    
     
}
body {
     font-family:  "Roboto", sans-serif;
     color: var(--secondary-color);
   background-color: var(--color-white);
   
          }

          /* Reset */
    h1,
    h2, 
    h3, 
    h4, 
    h5, 
    p {
      margin: 0;
          }
   ol, ul {
    list-style: none;
   padding-left: 0px;
   margin: 0;}    
  
a{
    font-style: none;
           }

    button {
        font-family: inherit;
        cursor: pointer;
    }

img {
    display: block;
}
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
   

    
}


/* Header */

 .header {
    border-bottom: 1px solid var(--color-border);
} 
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav{
    display: flex;
    align-items: center;
}

.logo-link .link {
display: flex;
align-items: center;

}
     
.logo-link {
    
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--color-iris);
    font-family: "Raleway", sans-serif;
    margin-right: 76px;
   }

.link {
    text-decoration: none;}

.logo-dark {
    color: var(--primary-color);
}
    

    .list .header-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
    }
    .header-list {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-color); 
        display: flex;
        align-items: center;
        padding: 24px 0;
       gap: 40px;
      }
       
       .active::after {
        content: "";
       position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--color-ocean);
        border-radius: 4px;
        
     }
   
   .header-list link {
    position: relative;
   }
            
    .link:hover,
    .link:focus {
        color: var(--color); 
     }
     

/* address */
.mail .contacts-list{
   font-style: normal;
}
.list-contacts {
 
 display: flex;
 align-items: center;
 padding-top: 24px;
 padding-bottom: 24px;
  gap: 40px;
}

.contacts-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    font-style: normal;
   
}

.contacts-list {
    text-decoration: none;
}

.contacts-list:hover,
.contacts-list:focus {
 color: var(--color);
}


/* hero */

.section-hero {
 background: var(--primary-color);
 padding-top: 188px; 
 padding-bottom: 188px;
 background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)

 ), url(../images/people-office.jpg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 max-width: 1440px;
 margin: 0 auto;
  }

.hero-container .container {
   
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    color: var(--color-white);  
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
     }

.hero-btn {
    color: var(--color-white);
    background:var(--color-button);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 128px;
   
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--color);
    cursor: pointer;
}

/* benefits */

.primary-benefits {
   padding-top: 120px;
   padding-bottom: 120px;
   
}
.visually-hidden{
    position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}
.benefits-list {  
        display: flex;
        gap: 24px;
    }
    .benefits-icon {
        display: flex;
        width: 264px;
        height: 112px;
        border-radius: 4px;
        background-color: var(--light-grey-color);
        justify-content: center;
        align-items: center;
    }

    .icon-list {
       
    }
.benefits-item {
    flex-direction: column;
    align-items: flex-start;
    width: calc((100% - 3 * 24px) / 4);
          
}    

.benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    margin-bottom: 8px;
    
     
}
.benefits-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    width: 264px;
    height: 72px;
 
   
}

/* made */
.made-link{
    padding-bottom: 120px;

}
  
   
.made-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-color);
    margin-bottom: 72px;
    }

.made-list {
    display: flex;
    gap: 24px;     
}




/* team */

.team-link {
       padding-top: 120px;
       padding-bottom: 120px;  
}
   
.team-link {
    background-color: var(--light-grey-color);
       }
.team-title {
    font-size: 36px;
    line-height:1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 72px;
    
    }
    .our-team  {
        display: flex;
        gap: 24px;
           
    }

.team-list {
    background-color: var(--color-white);
    border-radius: 0px 0px 4px 4px; 
}         
.team-member {
    padding: 32px 16px;

}
.team-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    background-color: var(--color-white);
    text-align: center;
    margin-bottom: 8px;
}
.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    text-align: center;

}

.soc-team-list {
    display: flex;
    gap: 24px;
}

.team-soc-link {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-iris);
    border-radius: 50px; 
}

/* customer */

.customer-list-link {
    padding-top: 120px;
    padding-bottom: 120px;
}

.customer-title {
    text-align: center;
    color: var(--primary-color);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;  
    margin-bottom: 72px;
}

.customer-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.customer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    color: var(--color-bord);
    border: 1px solid var(--color-bord);
    border-radius: 4px;

}
.customer-icon {
    fill: var(--color-bord);
}

.customer-link:hover,
.customer-link:focus {
    border-color: var(--color-ocean) ;
    color: var(--color-ocean);
}
.customer-link:hover .customer-icon {
    fill: var(--color-ocean);
}



/* footer */
 .footer-soc {
    display: flex;
}

.footer {
    background-color: var(--primary-color);
    padding-top: 100px;
    padding-bottom: 100px;
}
.container-footer {
    margin-right: 120px;
}



.footer-link{
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--color-iris);
    font-family: "Raleway", sans-serif;
    display: inline-block;
    margin-bottom: 16px;
    text-decoration: none;
}
.logo-light {
    color: var(--light-grey-color);
    
}
.footer-text {
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--light-grey-color);
    max-width: 264px

}
.soc-text {
    
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.32px;
color: var(--color-white);
}
.container-soc {
    
}
.soc-footer-list {
    display: flex;
    gap: 16px;
}
.footer-soc-link {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-iris);
    border-radius: 50px;
}
.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color:var(--green-color) ;
}

/* Portfolio */
.portfolio-page {
    padding-top: 96px; 
padding-bottom: 120px;
}

.filter-btn-list {
list-style: none;
display: flex;
justify-content: center;
gap: 24px;
margin-bottom: 72px;
}


.list-button {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--color-button);
background-color: var(--light-grey-color);
border-radius: 4px; 
padding: 12px 24px;
border: 1px solid #e7e9fc;
}


.button:hover{
    color: var(--color-white);
    background-color: var(--color);
    border: 1px solid transparent; 
}
.button:focus {
    color: var(--color-white);
    background-color: var(--color);
   border: 1px solid transparent;
     cursor: pointer;
     
}
.batton {
}

   
 .list-servis-link  {
    list-style:none; 
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
 } 
 .list-title-servis {
    text-decoration: none;
    width: calc((100% - 48px)/3); 
     }

 .list-title {
    padding: 32px 16px;
    border: 1px solid var(--color-border);
    border-top: none;
    }   

 .services-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-color);
margin-bottom: 8px;


 }
.services-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;  
    color:var(--secondary-color);}













